@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center ">
    <h1 class="display-4 bring-to-front">FlightManager</h1>
    <p class="bring-to-front">Easy and cheap way to travel around the world</p>
</div>

<div class="BoxForColumns">
    <div class="rowCustom">
        <div class="column">
            <h4 class="column-txt-h4">Column 1</h4>
            <p class="column-txt-p">Some text..</p>
            <span>  <input type="submit" name="Button" value="Make reservation" class="btn btn-primary btn-absoluteposition">  <input class="form-group small-width" type="text" name="text" value="1" /> </span>  
        </div>
        <div class="column">
            <h4 class="column-txt-h4">Column 1</h4>
            <p class="column-txt-p">Some text..</p>
        </div>
        <div class="column">
            <h4 class="column-txt-h4">Column 1</h4>
            <p class="column-txt-p">Some text..</p>
        </div>
        <div class="column">
            <h4 class="column-txt-h4">Column 1</h4>
            <p class="column-txt-p">Some text..</p>
        </div>
    </div>

</div>