@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center ">
    <h1 class="display-4 bring-to-front">Welcome</h1>
    <p class="bring-to-front">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="BlueSideBlock">
    </div>
</div>
<div class="text-center">
    <p> Here you can type something sad fuck</p>
    <div class="text-center">
        <form>
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-group" placeholder="Ot" />
                <span class="text-danger"></span>
                <input class="form-group" placeholder="Do" />
                <input class="form-group" placeholder="Otivane" />
                <input class="form-group" placeholder="Vrushtane" />
                <input class="form-group" value="1" />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
