@{
    ViewData["Title"] = "Add Reservation";
}
<h1 class="text-center">Create Reservation</h1>


<form method="post" asp-action="AddReservation" asp-controller="Reservations" class="form-group">
    
    <div class="BoxForReservation text-center">
        <div class="my-3 col-md-3 mx-auto">
            Email: <input type="email" name="Email" placeholder="Email" class="form-control" required/>
        </div>
        @for (int NumberOfPeople = 1; NumberOfPeople <= ViewBag.id; NumberOfPeople++)
        {
            <div class="column">
                <div class="row col-xs-6 my-3 row-cols-sm-1">
                    <div class="mx-custom">
                        First Name: <input name="firstName" class="form-control" required>
                    </div>
                    <div class="mx-custom">
                        Second Name: <input name="secondName" class="form-control" required>
                    </div>
                    <div class="mx-custom">
                        Family Name: <input name="familyName" class="form-control" required>
                    </div>
                    <div class="mx-custom">
                        Pin: <input name="pin" class="form-control" required>
                    </div>
                    <div class="mx-custom">
                        Telephone Number: <input name="telephoneNumber" class="form-control" required>
                    </div>
                    <div class="mx-custom">
                        Nationality: <input name="nationality" class="form-control" required>
                    </div>
                    <div class="mx-auto mt-3">
                        <label for="ticketType">Choose a Ticket Type:</label>
                        <select id="ticketType" name="ticketType" class="form-control">
                            <option value="Regular">Regular Ticket</option>
                            <option value="Business Class">Business Class Ticket</option>
                        </select>
                    </div>
                    <div hidden="hidden">
                        Unique PlaneNumber: <input name="uniquePlaneNumber" class="form-control" value="@ViewBag.UPN">
                    </div>
                </div>
            </div>
        }
        <input type="submit" class="btn btn-primary my-3" value="Add reservation" />
    </div>
</form>