body {
    background-image: url(/Materials/Plane2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.bring-to-front {
    z-index: 1;
}

.navbar-brandCustom {
    display: inline-block;
    color: black;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    margin-right: 5rem;
    z-index: 1;
}

.containerCustom {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
}

.navbar > .containerCustom, .navbar > .container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .containerCustom {
        max-width: 720px;
    }
}


@media (min-width: 576px) {
    .containerCustom {
        max-width: 540px;
    }
}

/* RADIO BOXES */

.OpacityBackground {
    background-blend-mode: lighten;
    background-color: #9caec7;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
}

.containerRadioBoxes {
    display: -ms-flexbox;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 35px;
    margin-bottom: 12px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .containerRadioBoxes input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: 5px;
}

/* On mouse-over, add a grey background color */
.containerRadioBoxes:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerRadioBoxes input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerRadioBoxes input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerRadioBoxes .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* LIST FOR FLIGHTS */


.BoxForColumns {
    width: 60%;
    height: 60%;
    position: absolute;
    margin-left: 20%;
    border-radius: 25px;
    box-shadow: inset 0 0 10px #000000;
    overflow: auto;
    background-color: rgba(156,174,199,0.3);
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 80%;
    margin-left: 10.5%;
    margin-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid #8caedb;
    box-shadow: -4px 4px 13px 2px #000000;
    background-color: rgb(151 171 199 / 60%);
    border-radius: 23px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.rowCustom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/* ColumnsText */

.column-txt-h4 {
    margin-left: 10px;
    margin-top: 10px;
}


.column-txt-p {
    margin-left: 10px;
}
/* Button position and round corners*/
.btn-absoluteposition {
    border-radius: 15px;
    margin-left: 15px;
}

/*InputBox*/
.small-width {
    width: 31px;
    border-color: #1b6ec2;
    border-radius: 16px;
    text-align: center;
}

/*  Login NavBar */

.CustomFormGroup {
    white-space: nowrap;
    font-size: 13px;
    margin-left: 100px;
}

.CustomRandomName {
    position: absolute;
    right: 20px;
}